.cache/
was-node_modules/
node_modules/
yarn-error.log
custom
customs
public-haiti
public-kinshasa
public-lubumbashi
public-venezuela
public-romania
public-argentina
public-congo
public-iran
public-qc
public-iran-slimmer-3
public-iran-slimmer
public-qc-slimmer
public-ontario
was-custom
custom-qc
package-lock.json
bah-node_modules
stuff.txt
public
.DS_Store
