.rollodeck-card {
  transform-origin: 92.5px 65px;
}

svg > use {
  transition: .3s;
}

.navbar:hover #card-5 {
  transform: rotate(-40deg);
}

.navbar:hover #card-4 {
  transform: rotate(-30deg);
}

.navbar:hover #card-3 {
  transform: rotate(-20deg);
}

.navbar:hover #card-2 {
  transform: rotate(-10deg);
}
